<%= stylesheet_link_tag "uploadify"  %>
<%= javascript_include_tag "uploadify/swfobject", "uploadify/jquery-1.4.2.min.js", "uploadify/jquery.uploadify.v2.1.4.min.js" %>

<script type="text/javascript">
    $(document).ready(function() {
      <% key = Rails.application.config.session_options[:key] %>
      var uploadify_script_data = {};
      var csrf_param = $('meta[name=csrf-param]').attr('content');
      var csrf_token = $('meta[name=csrf-token]').attr('content');
      uploadify_script_data[csrf_param] = encodeURI(encodeURIComponent(csrf_token));
      uploadify_script_data['<%= key %>'] = '<%= cookies[key] %>';
      uploadify_script_data['attachable_id'] 	= '<%= @album.id %>',
      uploadify_script_data['parent'] 	= 'Album'} 

      $('.uploadify').uploadify({
        'swf'             : '/assets/uploadify.swf',
        'uploader'        : '/assets/uploadify.swf',
        'script'          : '/assets/uploadify',
        'cancelImg'       : '/assets/cancel.png',
        'folder'          : '/public/campaign',
        'buttonText'      : 'Upload Files',
//        'auto'            : true,
        'multi'           : true,
        'removeCompleted' : false,
        'scriptData'      : uploadify_script_data,
        'onError'         : function (event, id, fileObj, errorObj) {
          alert("error: " + errorObj.info);
        },
        'onComplete'      : function(event, ID, fileObj, doc, data) {
          //alert('there are ' + data.fileCount + ' files remaining in the queue.');
          alert(fileObj.filePath);
        }
      });
    });
 
jQuery.noConflict();
 
jQuery().ready(function() { 
   jQuery('#photo_data').click(function(event){ 
      event.preventDefault(); 
   });  
  
    jQuery('#photo_submit').click(function(event){ 
      event.preventDefault(); 
      jQuery('#photo_data').uploadifyUpload(); 
    }); 
  }); 
</script>   

<%= form_for @photo, :html => { :multipart => true } do |f| %>
	<div class="image-uploader">
		<%= f.hidden_field :attachable_id  %>
		<%= f.label :description  %>
		<%= f.text_field :description  %></br>
		<%= f.file_field :data, :class=>'uploadify'  %></br>
		<%= f.submit "Upload Images", :id => 'photo_submit'%>
	</div>
<% end %>
