<% title @category.name %>

<ul>
  <% for product in @category.products %>
    <li><%= link_to h(product.name), product %></li>
  <% end %>
</ul>
<h3 id="photos_count"><%= pluralize(@category.products.size, "Photo")%></h3>
<div id="uploads"> 
  <%= render :partial => @category.products %>
</div>
<%= render :partial => "show" %>
<p>
  <%= link_to "Edit", edit_category_path(@category) %> |
  <%= link_to "Destroy", @category, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", categories_path %>
</p>
